name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Add runner to docker group
      run: sudo usermod -aG docker $USER

    - name: Restart Docker service
      run: sudo service docker restart

    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: false
        tags: your-image-name

    - name: Export Docker image as tar
      run: docker save your-image-name -o image.tar

    - name: Secure copy image to EC2
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_PRIVATE_KEY }}
        port: ${{ secrets.EC2_PORT }}
        source: image.tar
        target: ./ChatMyDock/image.tar

    - name: SSH into EC2 and load Docker image
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_PRIVATE_KEY }}
        port: ${{ secrets.EC2_PORT }}
        script: |
          sudo docker load -i ./ChatMyDock/image.tar
          sudo docker stop chatmydoc_container || true
          sudo docker rm chatmydoc_container || true
          sudo docker run -d --name chatmydoc_container -p 8501:8501 your-image-name
